<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tim 수정</title>

    <!-- Bootstrap -->
    <link href="../register/css/bootstrap.min.css" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="../register/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <!-- Custom style -->
    <link rel="stylesheet" href="../register/css/style.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    <% product.forEach(function(item, index){%>

      <article class="container">
        <div class="col-md-12">
        <div class="page-header">
    	    <h1>수정 <small>Tim</small></h1>
        </div>
        <form class="form-horizontal" action="edit/" method="post">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inputId">아이디</label>
        <div class="col-sm-6">
          <input type="text" class="col-sm-3 control-label" name="id" for="inputId" value="<%=item.username%>" readonly="readonly">
        </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputName">이름</label>
          <div class="col-sm-6">
            <input type="text" class="col-sm-3 control-label" name="name" for="inputName" value="<%=item.displayName%>" readonly="readonly">
          </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="inputNumber">휴대폰번호</label>
          <div class="col-sm-6">
            <input type="tel" class="form-control" id="inputNumber" placeholder="<%=item.phonenum%>" name="phonenum" required>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inputEmail">이메일</label>
        <div class="col-sm-6">
          <input class="form-control" id="inputEmail" type="email" placeholder="<%=item.email%>" name="email" required>
        </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <button class="btn btn-primary" type="submit">수정<i class="fa fa-check spaceLeft"></i></button>

            <a href="/mlist" class="btn btn-danger" ctype="submit">수정취소<i class="fa fa-times spaceLeft"></i></a>
          </div>
        </div>

        </form>
          <hr>
        </div>
      </article>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../register/js/bootstrap.min.js"></script>

<% }); %>
  </body>
</html>
