<!DOCTYPE html> <!--html5선언-->
<html>
  <head>
    <title>TIM Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        width : 70%;
        height: 70%;
        background-color: grey;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 100; /*옆에간격*/
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h1>Tim Google Map</h1>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        //지도위치경도위도
        var icn = {lat: 37.53, lng: 126.70};
        map = new google.maps.Map(document.getElementById('map'), {//지도나타내는 map클래스
          center: icn,//{lat: -34.397, lng: 150.644}, //위도경도
          zoom: 8 //높을수록 확대
        });
        //정보넣기
        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">인천</h1>'+
            '<div id="bodyContent">'+
            '<p><b>인천</b>, </p>'+
            '<p>인첩입니다: 인천, '+
            '</p>'+
            '</div>'+
            '</div>';

        //정보부르기
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        //지도에위치찍기
        var marker = new google.maps.Marker({
          position: icn,  //위치 위도경도넣어도됨
          map: map,
          draggable: true,//드래그가능하게
          animation: google.maps.Animation.DROP //움직이는 마크
        });
        //누르면정보보기
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        //떨어지는마크
         marker.addListener('click', toggleBounce);
         function toggleBounce() {
           if (marker.getAnimation() !== null) {
             marker.setAnimation(null);
           } else {
             marker.setAnimation(google.maps.Animation.BOUNCE);
           }
         }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq-v531pl0t0Ttfz8ABn3nckwT373jaRA&callback=initMap"
    async defer></script>
  </body>
</html>
