
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AED관리</title>
    <style>
        body{
          padding:20px 20px;
        }

        .results tr[visible='false'],
        .no-result{
          display:none;
        }

        .results tr[visible='true']{
          display:table-row;
        }

        .counter{
          padding:8px;
          color:#ccc;
        }
    </style>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>
   $(document).ready(function() {
     $(".search").keyup(function () {
      var searchTerm = $(".search").val();
      var listItem = $('.results tbody').children('tr');
      var searchSplit = searchTerm.replace(/ /g, "'):containsi('")

     $.extend($.expr[':'], {'containsi': function(elem, i, match, array){
         return (elem.textContent || elem.innerText || '').toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
      }
     });

     $(".results tbody tr").not(":containsi('" + searchSplit + "')").each(function(e){
      $(this).attr('visible','false');
     });

     $(".results tbody tr:containsi('" + searchSplit + "')").each(function(e){
      $(this).attr('visible','true');
     });

     var jobCount = $('.results tbody tr[visible="true"]').length;
      $('.counter').text(jobCount + ' item');

     if(jobCount == '0') {$('.no-result').show();}
      else {$('.no-result').hide();}
           });
   });
   </script>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous">
  </script>
  <body>
    <h1>영화 정보</h1>

    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="table search...">
    </div>
    <span class="counter pull-right"></span>

     <table width="100%" border="1" class="table table-hover table-bordered results">
       <thead>
        <tr>
           <th>영화정보</th>
           <th>aedidx</th>
           <th>buildAddress</th>
           <th>buildPlace</th>
           <th>gugun</th>
           <th>wgs84Lat</th>
           <th>wgs84Lon</th>
        </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
  </thead>
  <tbody>


        <tr>
           <td><a href='/movie/1' >영화정보</a></td>
           <th>101</th>
           <td>화랑로 621 (공릉동)</td>
           <td>(공릉2동) 중앙현관</td>
           <td>노원구</td>
           <td>37.62786685</td>
           <td>127.0940476</td>
       </tr>

        <tr>
           <td><a href='/aeddelete/102' >DELETE</a></td>
           <th>102</th>
           <td>공릉동 567-18</td>
           <td>(공릉1동) 1층소내입구</td>
           <td>노원구</td>
           <td>37.62256854</td>
           <td>127.0745848</td>
       </tr>

        <tr>
           <td><a href='/aeddelete/103' >DELETE</a></td>
           <th>103</th>
           <td>공릉2동 284-5</td>
           <td>(공릉2동) B1 대합실 임대상가(dab) 옆</td>
           <td>노원구</td>
           <td>37.62031304</td>
           <td>127.0844236</td>
       </tr>

        <tr>
           <td><a href='/aeddelete/104' >DELETE</a></td>
           <th>104</th>
           <td>하계1동 16-38</td>
           <td>(하계1동) 성실관 1층 보건실 앞</td>
           <td>노원구</td>
           <td>37.64061677</td>
           <td>127.0736579</td>
       </tr>
