<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tim main입니다.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1>Tim homepage 유저페이지</h1>

     <h1>Hello, <%=u_id%> <%=u_faceid%> </h1>
       <a href="/auth/logout">logout</a><br>
       <a href="/map2">map</a>
       <a href="/mlist">회원수정</a>
       <a href="/board">게시판</a>

    </ul>
  </body>
</html>
