
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Hello, ${req.user.displayName}</h1>
    <script>


    </script>

    <a href="/auth/logout">logout</a>
  </body>
</html>

<!--저거값을 어떻게 받아오나?-->
